{% extends "web/layout.html" %} 
{% block main %}

<div class="container text-white ">
  <div>{{producto.nombre}}</div>

  <div>{{producto.descripcion}}</div>

  <div>
    <img src="{{ media_url  }}{{producto.imagen.url}}" alt="" />
  </div>

  <div>$ {{producto.precio}}</div>
</div>
<div class="col d-flex justify-content-end">
  {% for group in user.groups.all %}
       {% if group.name == 'moderador' %}
            <a href="/editar_producto/{{ producto.id }}" class="btn btn-warning">Editar</a>
            <a href="/borrar_producto/{{ producto.id}}" class="btn btn-danger ms-3">Borrar</a>
            
       {% endif %}
  {% endfor %}
  {% if not perms.produtos.add_producto %} 
  <div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'CARRITO:agregar' producto.id %}" class="btn btn-success ms-3">Agregar al Carrito</a>
    {% else %}
    <a href="{% url 'REGISTRO:registro' %}" class="btn btn-success ms-3">Agregar al Carrito</a>
  </div>
    {% endif %}
  {% endif %}
</div>

{% endblock %}